{% extends 'base.html' %}

{% block content %}
<style>
    label, input { display: block; }
    span.helptext { display: none; }
    body {
        background-image: url('/static/Screenshot-210.png');
        /* Adjust background image properties as needed */
        background-size: cover; /* Ensure the background image covers the entire container */
        background-repeat: no-repeat; /* Prevent background image from repeating */
    }
</style>
{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}</p>
  <a href="{% url 'logout' %}">login</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Signup</a>
{% endif %}



{% endblock %}
